<launch>
	<node pkg="ekf" type="double_pendulum.py" name="pendulum" output="screen" />
	<node pkg="ekf" type="sensor_dp.py" name="sensor" output="screen" />
	<node pkg="ekf" type="ekf_doublependulum.py" name="ekf_doublependulum" output="screen" />
	<node pkg="rqt_plot" type="rqt_plot" output="screen" name="rqt_plot" args="/double_pendulum/real_system /ekf_doublependulum/estimated_system"/>
</launch>